<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/script/script.js"></script>
</head>

<body>
    Hello Express. </br>
    The background of the page is beige. The css file is loaded correctly </br> 
    Open the Chrome DevTools, we see "Hello from script.js". The javascript file is loaded correctly. </br>
</body>

</html>